@{
    ViewData["Title"] = "Home Page";
}
<link href="https://cdn.jsdelivr.net/gh/rastikerdar/vazirmatn@v33.003/Vazirinheritss" rel="stylesheet" type="text/css" />

<div class="text-center">
    <h1 style="font-family: Vazir; font-size:xx-large; font-weight:900; text-shadow:-5px 2px gray;">خوش آمدید</h1>
    <p id="p1" style="font-style:italic; font-family: Vazir;">@ViewBag.Username خوش آمدی</p>
</div>
<script>
function ReadCookie() {
               var allcookies = document.cookie;
               // Get all the cookies pairs in an array
               cookiearray = allcookies.split(';');
               var name;
               var value;
               // Now take key value pair out of this array
               for(var i=0; i<cookiearray.length; i++) {
                  name = cookiearray[i].split('=')[0];
                  value = cookiearray[i].split('=')[1];
               }
                                 if(value!="yes")
                  {
                      document.getElementById('p1').innerHTML="برای استفاده کامل از امکانات سایت لطفا وارد شوید";
                  }
            }
            ReadCookie();
</script>